.wrapper {
    background: linear-gradient(90deg, #aa754a, #f0ba4f);
    min-height: 100vh;
}
.formContainer {
    width: 50%;
    min-width: 200px;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.header {
    font-size: 40px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 35px;
}
.button {
    height: 50px;
    background-color: rgb(244, 243, 243);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    font-size: 20px;
    padding: 0 15px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .formContainer {
        width: 90%;
        padding: 20px;
    }
}
